/* MetadataCard.module.css */
.card {
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 20px;
    margin: 5px;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    max-width: 400px;
    text-align: left;
    background: linear-gradient(135deg, #ffffff, #f9f9f9);

}

.card:hover {
    transform: translateY(-1px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.image {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
    text-transform: uppercase;
    /*letter-spacing: 1px;*/

}

.description {
    font-size: 1em;
    color: #666;
    line-height: 1.5;
}